

   /* Select stilizatsiyasi */
   .custom-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-right: 2.5rem;
  }
  .custom-select:focus {
    outline: none;
    ring: 2px solid #22c55e;
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.2);
  }