#menuBtn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #menuBtn.open span:nth-child(2) {
    opacity: 0;
  }
  #menuBtn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(11px, -11px);
  }